<div class="jumbotron">

	<center>
		<h1>Welcome to my Coffee House!</h1>

		<img src="https://ne1.wac.edgecastcdn.net/001FB1/images/Category%20Hero%20Images/Resized%20Heros/FlavoredCoffee2.jpg">
		<br>

		<%= link_to "Check out our Beans!", beans_path, class: "btn btn-default" %>
	</center>
</div>